<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.CAQAS.dao.AnswerMapper" >
  <resultMap id="BaseResultMap" type="com.CAQAS.pojo.Answer" >
    <id column="answ_id" property="answId" jdbcType="INTEGER" />
    <result column="answ_title" property="answTitle" jdbcType="VARCHAR" />
    <result column="key_words" property="keyWords" jdbcType="VARCHAR" />
    <result column="answ_time" property="answTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.CAQAS.pojo.Answer" extends="BaseResultMap" >
    <result column="answ_content" property="answContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    answ_id, answ_title, key_words, answ_time
  </sql>
  <sql id="Blob_Column_List" >
    answ_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from answer
    where answ_id = #{answId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from answer
    where answ_id = #{answId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.CAQAS.pojo.Answer" >
    insert into answer (answ_id, answ_title, key_words, 
      answ_time, answ_content)
    values (#{answId,jdbcType=INTEGER}, #{answTitle,jdbcType=VARCHAR}, #{keyWords,jdbcType=VARCHAR}, 
      #{answTime,jdbcType=TIMESTAMP}, #{answContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="answId" parameterType="com.CAQAS.pojo.Answer" >
    insert into answer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="answId != null" >
        answ_id,
      </if>
      <if test="answTitle != null" >
        answ_title,
      </if>
      <if test="keyWords != null" >
        key_words,
      </if>
      <if test="answTime != null" >
        answ_time,
      </if>
      <if test="answContent != null" >
        answ_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="answId != null" >
        #{answId,jdbcType=INTEGER},
      </if>
      <if test="answTitle != null" >
        #{answTitle,jdbcType=VARCHAR},
      </if>
      <if test="keyWords != null" >
        #{keyWords,jdbcType=VARCHAR},
      </if>
      <if test="answTime != null" >
        #{answTime,jdbcType=TIMESTAMP},
      </if>
      <if test="answContent != null" >
        #{answContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.CAQAS.pojo.Answer" >
    update answer
    <set >
      <if test="answTitle != null" >
        answ_title = #{answTitle,jdbcType=VARCHAR},
      </if>
      <if test="keyWords != null" >
        key_words = #{keyWords,jdbcType=VARCHAR},
      </if>
      <if test="answTime != null" >
        answ_time = #{answTime,jdbcType=TIMESTAMP},
      </if>
      <if test="answContent != null" >
        answ_content = #{answContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where answ_id = #{answId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.CAQAS.pojo.Answer" >
    update answer
    set answ_title = #{answTitle,jdbcType=VARCHAR},
      key_words = #{keyWords,jdbcType=VARCHAR},
      answ_time = #{answTime,jdbcType=TIMESTAMP},
      answ_content = #{answContent,jdbcType=LONGVARCHAR}
    where answ_id = #{answId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.CAQAS.pojo.Answer" >
    update answer
    set answ_title = #{answTitle,jdbcType=VARCHAR},
      key_words = #{keyWords,jdbcType=VARCHAR},
      answ_time = #{answTime,jdbcType=TIMESTAMP},
    where answ_id = #{answId,jdbcType=INTEGER}
  </update>
</mapper>