<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.CAQAS.dao.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.CAQAS.pojo.Department" >
    <id column="dep_id" property="depId" jdbcType="INTEGER" />
    <result column="dep_name" property="depName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    dep_id, dep_name
  </sql>
  <!-- 查询所有部门 -->
  <select id="selectAllDepartments" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List"/>
  	from department
  	<if test="page != -1 and pageNum != -1">
  	limit #{page,jdbcType=INTEGER},#{pageNum,jdbcType=INTEGER}
  	</if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from department
    where dep_id = #{depId,jdbcType=INTEGER}
  </select>
  <!-- 通过部门名字查询 -->
  <select id="selectByDepName" resultMap="BaseResultMap" parameterType="java.lang.String">
  select
  <include refid="Base_Column_List" />
  from department
  where dep_name = #{depName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from department
    where dep_id = #{depId,jdbcType=INTEGER}
  </delete>
  <!-- 批量删除 -->
  <delete id="deleteBatchDep" parameterType="java.util.List">
  	delete
  	from department
  	where dep_id in
  	<foreach item="depId" collection="list" open="(" separator="," close=")">
  	#{depId,jdbcType=VARCHAR}
  	</foreach>
  </delete>
  <insert id="insert" parameterType="com.CAQAS.pojo.Department" >
    insert into department (dep_id, dep_name)
    values (#{depId,jdbcType=INTEGER}, #{depName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.CAQAS.pojo.Department" >
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="depId != null" >
        dep_id,
      </if>
      <if test="depName != null" >
        dep_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="depId != null" >
        #{depId,jdbcType=INTEGER},
      </if>
      <if test="depName != null" >
        #{depName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.CAQAS.pojo.Department" >
    update department
    <set>
      <if test="depName != null" >
        dep_name = #{depName,jdbcType=VARCHAR},
      </if>
    </set>
    where dep_id = #{depId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.CAQAS.pojo.Department" >
    update department
    set dep_name = #{depName,jdbcType=VARCHAR}
    where dep_id = #{depId,jdbcType=INTEGER}
  </update>
</mapper>