<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.CAQAS.dao.QuestionMapper" >
  <resultMap id="BaseResultMap" type="com.CAQAS.pojo.Question" >
    <id column="ques_id" property="quesId" jdbcType="INTEGER" />
    <result column="ques_title" property="quesTitle" jdbcType="VARCHAR" />
    <result column="search_num" property="searchNum" jdbcType="INTEGER" />
    <result column="ques_answ_id" property="quesAnswId" jdbcType="INTEGER" />
    <result column="ques_create_time" property="quesCreateTime" jdbcType="TIMESTAMP" />
    <result column="ques_isuse_num" property="quesIsuseNum" jdbcType="INTEGER"/>
    <result column="ques_nouse_num" property="quesNouseNum" jdbcType="INTEGER"/>
    <result column="ques_user_id" property="quesUserId" jdbcType="INTEGER"/>
    <result column="ques_cate_id" property="quesCateId" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Base_Column_List" >
    ques_id, ques_title, search_num, ques_answ_id, ques_create_time, ques_isuse_num, ques_nouse_num, ques_user_id, ques_cate_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from question
    where ques_id = #{quesId,jdbcType=INTEGER}
  </select>
  
  <!-- 查询对应管理员下的所有问题 -->
  <select id="selectQuestionsByUserId" resultType="com.CAQAS.model.QuestionsResultModel">
  	select
  		ques_id as "quesId",
  		ques_title as "quesTitle",
  		search_num as "searchNum",
  		ques_create_time as "quesCreateTime",
  		answ_id as "answId",
  		answ_title as "answTitle",
  		answ_content as "answContent",
  		answ_time as "answTime",
  		cate_name as "cateName"
  	from
  		question
  	left join
  		answer
  	on
  		ques_answ_id = answ_id
  	left join
  		category
  	on 
  		ques_cate_id = cate_id
  	where
  		1 = 1
  	and 
  		ques_user_id = #{quesUserId,jdbcType=INTEGER}
  	<if test="solved == 1">
  	and answ_content is not null
  	</if>
  	<if test="solved == 0">
  	and answ_content is null
  	</if>
  	order by ques_create_time desc
  	limit #{page,jdbcType=INTEGER},#{pageNum,jdbcType=INTEGER}
  </select>
  
  <!-- 超级管理员所有问题 -->
  <select id="selectQuestionsByAdmin" resultType="com.CAQAS.model.QuestionsResultModel">
  	select
  		ques_id as "quesId",
  		ques_title as "quesTitle",
  		search_num as "searchNum",
  		ques_create_time as "quesCreateTime",
  		answ_title as "answTitle",
  		answ_content as "answContent",
  		answ_time as "answTime"
  	from
  		question
  	left join
  		answer
  	on
  		ques_answ_id = answ_id
  	where
  		1 = 1
  	<if test="role != null and role == 0">
  	and ques_user_id is null
  	</if>
  	order by ques_create_time desc
  	limit #{page,jdbcType=INTEGER},#{pageNum,jdbcType=INTEGER}
  </select>
  
  <!-- answer-search页面初始化查询 -->
  <select id="selectQuestionsBySearchNum" resultType="com.CAQAS.model.QuestionsResultModel">
  	select
  		ques_id as "quesId",
  		ques_title as "quesTitle",
  		search_num as "searchNum",
  		ques_create_time as "quesCreateTime",
  		answ_title as "answTitle",
  		answ_content as "answContent",
  		answ_time as "answTime"
  	from
  		question
  	left join
  		answer
  	on
  		ques_answ_id = answ_id
  	where 1 = 1
  	<if test="quesCateId != null">
  	and ques_cate_id = #{quesCateId,jdbcType=INTEGER}
  	</if>
  	and answ_content is not null
  	order by search_num desc
  	limit 5
  </select>
  
  <!-- 先模糊查询 -->
  <select id="selectVagueQuestionsSearch" resultType="com.CAQAS.model.QuestionsResultModel">
  	SELECT
	ques_id AS "quesId",
	ques_title AS "quesTitle",
	search_num AS "searchNum",
	ques_create_time AS "quesCreateTime",
	ques_isuse_num AS "quesIsuseNum",
	ques_nouse_num AS "quesNouseNum",
	answ_title AS "answTitle",
	answ_content AS "answContent",
	answ_time AS "answTime"
	FROM
	question
	LEFT JOIN answer ON ques_answ_id = answ_id
	WHERE
	1 = 1
	AND answ_content IS NOT NULL
	<if test="searchTitle != null">
	AND ques_title LIKE CONCAT('%', #{searchTitle,jdbcType=VARCHAR}, '%')
	OR answ_content LIKE CONCAT('%', #{searchTitle,jdbcType=VARCHAR}, '%')
	</if>
	ORDER BY ques_isuse_num DESC,ques_nouse_num ASC
	LIMIT #{page,jdbcType=INTEGER},#{pageNum,jdbcType=INTEGER}
  </select>
  
  <!-- 相似度查询计算 -->
  <select id="selectSearchSimilarity" resultType="com.CAQAS.model.QuestionsResultModel">
  	SELECT
	ques_id AS "quesId",
	ques_title AS "quesTitle",
	search_num AS "searchNum",
	ques_create_time AS "quesCreateTime",
	ques_isuse_num AS "quesIsuseNum",
	ques_nouse_num AS "quesNouseNum",
	answ_title AS "answTitle",
	answ_content AS "answContent",
	answ_time AS "answTime"
	FROM
	question
	LEFT JOIN answer ON ques_answ_id = answ_id
	WHERE
	1 = 1
	AND answ_content IS NOT NULL
	ORDER BY search_num DESC
  </select>
  
  <!-- 标签云问题类别查询 -->
  <select id="selectCategoryToTagCloud" resultType="com.CAQAS.model.TagCloudCategoryResultModel">
  	select
  		cate_id as "cateId",
  		cate_name as "cateName",
  		count(ques_cate_id) as "questionNum"
  	from question,category
  	where ques_cate_id = cate_id
  	and ques_answ_id is not null
  	group by cate_name
  	order by count(ques_cate_id) desc
  </select>
  
  <!-- 根据问题Id查询标题和内容 -->
  <select id="selectByQuesId" resultType="com.CAQAS.model.QuestionsResultModel" parameterType="java.lang.Integer">
  	select
  		ques_id as "quesId",
  		ques_title as "quesTitle",
  		ques_isuse_num as "quesIsuseNum",
  		ques_nouse_num as "quesNouseNum",
  		answ_id as "answId",
  		answ_content as "answContent"
  	from
  		question
  	left join
  		answer
  	on
  		ques_answ_id = answ_id
  	where
  		1 = 1
  	and
  		ques_id = #{quesId, jdbcType=INTEGER}
  </select>
  
  <!-- 根据UserId查询当前用户下的所有问题 -->
  <select id="selectAllQuestionsByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select 
    <include refid="Base_Column_List" />
    from question
    where ques_user_id = #{quesUserId,jdbcType=INTEGER}
    and ques_answ_id is not null
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from question
    where ques_id = #{quesId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.CAQAS.pojo.Question" >
    insert into question (ques_id, ques_title, search_num, 
      ques_answ_id, ques_create_time, ques_user_id, ques_cate_id
      )
    values (#{quesId,jdbcType=INTEGER}, #{quesTitle,jdbcType=VARCHAR}, #{searchNum,jdbcType=INTEGER}, 
      #{quesAnswId,jdbcType=INTEGER}, #{quesCreateTime,jdbcType=TIMESTAMP}, 
      #{quesUserId,jdbcType=INTEGER}, #{quesCateId, jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.CAQAS.pojo.Question" >
    insert into question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="quesId != null" >
        ques_id,
      </if>
      <if test="quesTitle != null" >
        ques_title,
      </if>
      <if test="searchNum != null" >
        search_num,
      </if>
      <if test="quesAnswId != null" >
        ques_answ_id,
      </if>
      <if test="quesCreateTime != null" >
        ques_create_time,
      </if>
      <if test="quesUserId != null">
      	ques_user_id,
      </if>
      <if test="quesCateId != null">
      	ques_cate_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="quesId != null" >
        #{quesId,jdbcType=INTEGER},
      </if>
      <if test="quesTitle != null" >
        #{quesTitle,jdbcType=VARCHAR},
      </if>
      <if test="searchNum != null" >
        #{searchNum,jdbcType=INTEGER},
      </if>
      <if test="quesAnswId != null" >
        #{quesAnswId,jdbcType=INTEGER},
      </if>
      <if test="quesCreateTime != null" >
        #{quesCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="quesUserId != null" >
        #{quesUserId,jdbcType=INTEGER},
      </if>
      <if test="quesCateId != null" >
        #{quesCateId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <!-- 批量更新访问量 -->
  <update id="updateBatchQuestionsSearchNum" parameterType="java.util.List">
  	update question
  	set search_num = search_num + 1
  	where ques_id in
  	<foreach item="quesId" collection="list" open="(" separator="," close=")">
  	#{quesId,jdbcType=INTEGER}
  	</foreach>
  </update>
  <!-- 更新有用字段 -->
  <update id="updateIsuseNum" parameterType="java.lang.Integer">
  	update question
  	set ques_isuse_num = ques_isuse_num + 1
  	where ques_id = #{quesId,jdbcType=INTEGER}
  </update>
  <!-- 更新无用字段 -->
  <update id="updateNouseNum" parameterType="java.lang.Integer">
  	update question
  	set ques_nouse_num = ques_nouse_num + 1
  	where ques_id = #{quesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.CAQAS.pojo.Question" >
    update question
    <set >
      <if test="quesTitle != null" >
        ques_title = #{quesTitle,jdbcType=VARCHAR},
      </if>
      <if test="searchNum != null" >
        search_num = #{searchNum,jdbcType=INTEGER},
      </if>
      <if test="quesAnswId != null" >
        ques_answ_id = #{quesAnswId,jdbcType=INTEGER},
      </if>
      <if test="quesCreateTime != null" >
        ques_create_time = #{quesCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="quesUserId != null" >
        ques_user_id = #{quesUserId,jdbcType=INTEGER},
      </if>
      <if test="quesCateId != null" >
        ques_cate_id = #{quesCateId,jdbcType=INTEGER},
      </if>
    </set>
    where ques_id = #{quesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.CAQAS.pojo.Question" >
    update question
    set ques_title = #{quesTitle,jdbcType=VARCHAR},
      search_num = #{searchNum,jdbcType=INTEGER},
      ques_answ_id = #{quesAnswId,jdbcType=INTEGER},
      ques_create_time = #{quesCreateTime,jdbcType=TIMESTAMP},
      ques_user_id = #{quesUserId,jdbcType=INTEGER},
      ques_cate_id = #{quesCateId,jdbcType=INTEGER}
    where ques_id = #{quesId,jdbcType=INTEGER}
  </update>
</mapper>