<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.CAQAS.dao.QuestionMapper" >
  <resultMap id="BaseResultMap" type="com.CAQAS.pojo.Question" >
    <id column="ques_id" property="quesId" jdbcType="INTEGER" />
    <result column="ques_title" property="quesTitle" jdbcType="VARCHAR" />
    <result column="search_num" property="searchNum" jdbcType="INTEGER" />
    <result column="ques_answ_id" property="quesAnswId" jdbcType="INTEGER" />
    <result column="ques_time" property="quesTime" jdbcType="TIMESTAMP" />
    <result column="ques_answer_time" property="quesAnswerTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ques_id, ques_title, search_num, ques_answ_id, ques_time, ques_answer_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from question
    where ques_id = #{quesId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from question
    where ques_id = #{quesId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.CAQAS.pojo.Question" >
    insert into question (ques_id, ques_title, search_num, 
      ques_answ_id, ques_time, ques_answer_time
      )
    values (#{quesId,jdbcType=INTEGER}, #{quesTitle,jdbcType=VARCHAR}, #{searchNum,jdbcType=INTEGER}, 
      #{quesAnswId,jdbcType=INTEGER}, #{quesTime,jdbcType=TIMESTAMP}, #{quesAnswerTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.CAQAS.pojo.Question" >
    insert into question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="quesId != null" >
        ques_id,
      </if>
      <if test="quesTitle != null" >
        ques_title,
      </if>
      <if test="searchNum != null" >
        search_num,
      </if>
      <if test="quesAnswId != null" >
        ques_answ_id,
      </if>
      <if test="quesTime != null" >
        ques_time,
      </if>
      <if test="quesAnswerTime != null" >
        ques_answer_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="quesId != null" >
        #{quesId,jdbcType=INTEGER},
      </if>
      <if test="quesTitle != null" >
        #{quesTitle,jdbcType=VARCHAR},
      </if>
      <if test="searchNum != null" >
        #{searchNum,jdbcType=INTEGER},
      </if>
      <if test="quesAnswId != null" >
        #{quesAnswId,jdbcType=INTEGER},
      </if>
      <if test="quesTime != null" >
        #{quesTime,jdbcType=TIMESTAMP},
      </if>
      <if test="quesAnswerTime != null" >
        #{quesAnswerTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.CAQAS.pojo.Question" >
    update question
    <set >
      <if test="quesTitle != null" >
        ques_title = #{quesTitle,jdbcType=VARCHAR},
      </if>
      <if test="searchNum != null" >
        search_num = #{searchNum,jdbcType=INTEGER},
      </if>
      <if test="quesAnswId != null" >
        ques_answ_id = #{quesAnswId,jdbcType=INTEGER},
      </if>
      <if test="quesTime != null" >
        ques_time = #{quesTime,jdbcType=TIMESTAMP},
      </if>
      <if test="quesAnswerTime != null" >
        ques_answer_time = #{quesAnswerTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ques_id = #{quesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.CAQAS.pojo.Question" >
    update question
    set ques_title = #{quesTitle,jdbcType=VARCHAR},
      search_num = #{searchNum,jdbcType=INTEGER},
      ques_answ_id = #{quesAnswId,jdbcType=INTEGER},
      ques_time = #{quesTime,jdbcType=TIMESTAMP},
      ques_answer_time = #{quesAnswerTime,jdbcType=TIMESTAMP}
    where ques_id = #{quesId,jdbcType=INTEGER}
  </update>
</mapper>