@charset "utf-8";
/* CSS Document */

body{ font-family:"微软雅黑", Arial, sans-serif;} #main{border:none; background:none;}
body,ul,li,h1,h2,h3,p,form{margin:0;padding:0;}body{background:#fbfbfb;color:#444;font-size:14px;}
a{color:#444;text-decoration:none;}a:hover{color:red;}

/* tagscloud */
#tagscloud{height:320px;position:relative;font-size:12px;color:#333;margin:20px auto 0;text-align:center;}
#tagscloud a{position:absolute;top:0px;left:0px;color:#333;font-family:Arial;text-decoration:none;margin:0 10px 15px 0;line-height:18px;text-align:center;font-size:12px;padding:1px 5px;display:inline-block;border-radius:3px;}
#tagscloud a.tagc1{background:#666;color:#fff;}
#tagscloud a.tagc2{background:#F16E50;color:#fff;}
#tagscloud a.tagc3{background:#006633;color:#fff;}
#tagscloud a.tagc4{background:#EEC900;color:#fff;}
#tagscloud a.tagc5{background:#7CCD7C;color:#fff;}
#tagscloud a.tagc6{background:#1b344b;color:#fff;}
#tagscloud a.tagc7{background:#2d075f;color:#fff;}
#tagscloud a.tagc8{background:#c0c0c0;color:#fff;}
#tagscloud a.tagc9{background:#ff80c0;color:#fff;}
#tagscloud a.tagc10{background:#B23AEE;color:#fff;}
#tagscloud a.tagc11{background:#7FFFD4;color:#fff;}
#tagscloud a.tagc12{background:#A0522D;color:#fff;}
#tagscloud a.tagc13{background:#4EEE94;color:#fff;}
#tagscloud a.tagc14{background:#00FF7F;color:#fff;}
#tagscloud a.tagc15{background:#008B8B;color:#fff;}
#tagscloud a.tagc16{background:#00CDCD;color:#fff;}
#tagscloud a.tagc17{background:#C1FFC1;color:#fff;}
#tagscloud a.tagc18{background:#9F79EE;color:#fff;}

#tagscloud a:hover{color:#fff;background:#0099ff;}